@CHARSET "UTF-8";

.container{
	font-size: 18px;
	width : 90%;
	max-width:960px;
	height:820px;
	margin:0 auto;
	margin-top:50px;
	border:1px solid;
	border-radius:20px;
	word-break:break-word;
	padding:40px;
	vertical-align:middle;
	text-align:center;
}

.label {
	margin-right: 5px;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:1.5;
 }

.out1{
	border:1px solid green;
	margin-top:30px;
	text-align:center;
	display:inline-block;
	padding:10px;
	width : 120%;
}


