@CHARSET "UTF-8";

.container{
	font-size: 18px;
	width : 100%;
	max-width:960px;
	min-height:740px;
	margin:0 auto;
	margin-top:50px;
	border:1px solid;
	border-radius:20px;
	/*word-break:break-word;*/
	padding:40px;
	vertical-align:middle;
	text-align:center;
	overflow:auto;
	
	
}

th {
    text-align: center;
}
.header h1{
	margin-top:0px;
}
.content-1{
	margin-top:8%;
}

.content-2 td{
	white-space: normal;
	/* width : 100%; */
	max-width:960px;
	font-size: 14px;
	
}

.AutoNewline
{
word-break: break-all;/*必須*/
}
